h1 {
    display: inline-block;
    text-align: center;
}

.wrap {
    display:flex;
    flex-flow: column;
}

.form {
    display: inline-block;
}

.Title {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

